.home-wrap {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  .header{
    height: 56px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 10px;
    .title {
      font-size: 16px;
    }
  }
  .images-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    .images {
      position: relative;
      margin: 10px 0;
      width: 20%;
      &:hover {
        .copy-wrap {
          opacity: 1;
        }
      }
      video{
        width: 200px;
        height: 200px;
      }
      img{
        width: 200px;
        height: 200px;
        background-size: cover;
        
      }
      .copy-wrap {
        transition: all 0.3s;
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 88px;
        height: 32px;
      }
    }
  }
}
