.page-wrap {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  .header{
    height: 56px;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 10px;
    .title {
      font-size: 16px;
    }
    .back {
      font-size: 20px;
      margin: 0 10px
    }
  }
  .content {
    background-color: #fff;
    .upload-wrap {
      padding: 20px;
      .ant-upload-picture-card-wrapper {
        text-align: center;
      }
      .ant-upload-list {
        text-align: center;
      }
      .ant-upload-select-picture-card {
        margin-right: 0;
        float: none;
        .ant-btn {
          margin-top: 28px;
        }
      }
      .ant-upload {
        display: inline-block;
        font-size: 32px;
        line-height: 88px;
      }
      .ant-upload-list-picture-card-container {
        float: none;
        margin: 2px 4px;
        display: inline-block;
      }
    }
    .upload-button {
      margin-bottom: 10px;
      display: inline-block;
    }
  }

  .preList-wrap {
    // margin-top: 10px; 
    border-top: 5px solid #eee;
    background-color: #fff;
    padding: 10px;
    div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 10px;
    }
    img {
      width: 300px;
      height: auto;
    }
    video{
      width: 300px;
      height: auto;
    }
    .input-wrap {
      width: 100%;
      margin: 0 20px;
    }
  }
}
